<html>
<body>
<form action="/produtos/novo" method="post">
    <div>
        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" placeholder="Título"/>
    </div>
    <div>
        <label for="preco">Preço</label>
        <input type="number" id="preco" name="preco" placeholder="150.99"/>
    </div>
    <div>
        <label for="descricao">Descrição</label>
        <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="Fale sobre o livro..."></textarea>
    </div>
    <input type="submit" value="Gravar"/>
</form>
</body>
</html>
